<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Inmobiliaria</title>
    <link href="@Url.Content("~/css/site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/css/propietario.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/css/admin.css")" rel="stylesheet" type="text/css" />
</head>
<body>
    @if(User.IsInRole("Administrador"))
    {
        <div class="admin">
            <nav>
                <div>
                    <a asp-action="ListaPropietarios" asp-controller="Propietarios">Propietarios</a>
                </div>
                <div>
                    <a asp-action="ListaInmueble" asp-controller="Inmuebles">Inmuebles</a>
                </div>
                <div>
                    <a asp-action="ListaInquilinos" asp-controller="Inquilinos">Inquilinos</a>
                </div>
                <div>
                    <a asp-action="ListaContratos" asp-controller="Contratos">Contratos</a>
                </div>
                <div>
                    <a asp-action="ListaPagos" asp-controller="Pagos">Pagos</a>
                </div>
                <div>
                    <a asp-action="Logout" asp-controller="Home">Cerrar Sesion</a>
                </div>
            </nav>
        </div>
    }
    @RenderBody()
</body>
</html>
